<h1>Stupid coaching</h1>

<form action="/" method="get">
  <label for="question">Ask your coach anything:</label><br>
  <input name="question" type="text">
  <input type="button" value="ask">
</form>
